.app header {
  background-color: brown;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
}
main {
  padding: 20px;
}
main .lobby {
  max-width: 300px;
  background-color: #555658;
  padding: 10px;
  color: #ffffff;
  margin: auto;
}
main .lobby h2 {
  text-align: center;
}
main .row {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  margin-bottom: 10px;
}
main button {
  line-height: 25px;
  border: none;
  border-radius: 3px;
}
main .btn-login {
  background-color: rgb(101, 80, 223);
  color: #ffffff;
}
main .btn-logout {
  background-color: darkgoldenrod;
  color: #ffffff;
  position: absolute;
  top: 50px;
  right: 0;
}
.room {
  max-width: 400px;
  padding: 10px;
  background-color: #c8cebe;
  margin: auto;
  position: relative;
}
.room h2{
  text-align: center;
  line-height: 30px;
  margin: 0;
  text-decoration: underline;
  margin-bottom: 20px;
}